body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: lightgrey;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    margin: 10px;
}